* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-texto: #667085;
  --color-titulo: #101828;
<<<<<<< HEAD
  --color-span: #8E2424;
=======
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-texto);
}

/*======== NAVBAR =====*/

section {
<<<<<<< HEAD
  width: 90vw;
=======
  width: 100vw;
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /*background-color: antiquewhite;*/
}

.logo a {
<<<<<<< HEAD
=======
  margin-left: 7rem;
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo span {
  margin-left: 0.5rem;
  color: #3A404E;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: var(--color-texto);
  text-decoration: none;
}

.button {
  margin-right: 7rem;
  display: flex;
  gap: 1.87rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.button .entrar {
  color: var(--color-texto);
  font-size: 1rem;
  font-weight: 500;
}

.button .cadastrar {
  padding: 10px 18px;
  color: white;
<<<<<<< HEAD
  background: var(--color-span);
=======
  background: #8E2424;
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
  border-radius: 8px;
}

/*========== Sobre nós ==========*/

.sobrenos {
  margin-top: 6rem;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
=======
  text-align: center;
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
}

.sobrenos .span {
  font-size: 1rem;
<<<<<<< HEAD
  color: var(--color-span);
=======
  color: #8E2424;
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
  font-weight: 600;
}

.sobrenos .titulo {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 2.3rem;
  color: var(--color-titulo);
<<<<<<< HEAD
}

.sobrenos p {
  text-align: center;
  max-width: 50%;
  line-height: 1.5rem;
}

/*=======Sobre-Nós-Info dados===========*/

.sobrenos_info {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.sobrenos_info_dados {
  width: 17.5rem;
}

.sobrenos_info_dados span {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--color-span);
}

.sobrenos_info_dados h5 {
  color: var(--color-titulo);
  font-size: 1.12rem;
  margin: 0.75rem 0 0.5rem 0;
}

.sobrenos_info_dados p {
  line-height: 1.5rem;
=======
>>>>>>> 60b69ca664bfc7e46a04b657f74b7001ff390129
}